<%- include("../partials/userheader") -%>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

    
  <br><br>

  <main id="main">
  
    <!-- ======= Events Section ======= -->
    
    <section style = "background-color: #4CAF50 ;"id="events" class="events">
      <div class="container">

        <div class="section-title">
          <br><br>
          <h2>Contact Page</h2>
        </div>
     </section><!-- End Events Section -->
    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
      <div class="container">

       
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="member-info">
                <i class="bi bi-geo-alt"></i>
                <h4>Location</h4>
                <span>Gyalpozhing, Monger </span>
              </div>
            </div>
          </div>

         <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="member-info">
                <i class="bi bi-phone"></i>
                <h4>Call us at </h4>
                <span>17360450 or 77361241</span>
              </div>
            </div>
          </div>

           
             <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="member-info">
                <i class="bi bi-envelope"></i>
                <h4>Message Us </h4>
                <span>wangchuk92@gmail.com</span>
              </div>
            </div>
          </div>
        </div>

<br><br><br>

          <form action="/contact" method="post" autocomplete="off" > 
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" pattern="[a-zA-Z|\s]{5,}" title="Your name should contain text only" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" placeholder="Your Email" pattern="[a-z0-9]+@gmail.com"
              title="Email domain should be (@gmail.com)" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="tel" class="form-control" name="phone" placeholder="Your Contact"  pattern="[1|7]{1}[7]{1}[0-9]{6}"
            title="8 digit phone no. should start with (77/17)" required>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="details" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
      
            <div class="error-message"></div>
           
          </div> <br>

          <div class="text-center">
            <button type="submit" style="background-color: #388E3C; text-decoration: none; color: white; padding:12px; border-radius:20px">
              Send Feedback</button></div>
            </div>
<
        </form>
  

      </div>
    </section><!-- End Chefs Section -->

  <!-- ======= Footer ======= -->
  <%- include("../partials/footer") -%>
