<%- include("../partials/logshead") -%> <%- include("../partials/userheader")
-%>

<div
  class="register-photo"
  style="background-color: #ffffff; margin-top: px; margin-bottom: px"
>
  <br />
  <div class="form-container">
    <% if (typeof errorMessage !== "undefined") { %>
    <p class="alert alert-danger" role="alert"><%= errorMessage %></p>
    <% } %> <% if (typeof successMessage !== "undefined") { %>
    <p class="alert alert-success" role="alert"><%= successMessage %></p>
    <% } %>

    <h4 style="font-family: roboto">Booking List</h4>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Date Booked</th>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% myBooking.forEach(book => { %>
        <tr>
          <td><%= book.date %></td>
          <td><%= book.time %>(<%= book.day %>)</td>
          <% if (book.isConfirm === "Pending"){ %>
          <th>
            <div
              style="
                background-color: #fee6af;
                padding: 8px;
                border-radius: 4px;
                text-align: center;
              "
            >
              Pending
            </div>
          </th>
          <% }else if(book.isConfirm === "Confirmed"){ %>
          <th>
            <div
              style="
                background-color: #a8cdda;
                padding: 8px;
                border-radius: 4px;
                text-align: center;
              "
            >
              Confirmed
            </div>
          </th>
          <% }else { %>
          <th>
            <div
              style="
                background-color: #eca0a8;
                padding: 8px;
                border-radius: 4px;
                text-align: center;
              "
            >
              Cancelled
            </div>
          </th>
          <% } %>

          <th>
            <% if(book.isConfirm === "Cancelled"){ %>

            <div>
              <a
                href="#cancel<%= book._id %>"
                data-toggle="modal"
                style="color: white"
                aria-disabled="true"
                class="btn btn-danger"
              >
                Cancel
              </a>
            </div>
            <% }else{ %>
            <div>
              <a
                href="#cancel<%= book._id %>"
                data-toggle="modal"
                style="color: white"
                class="btn btn-danger"
              >
                Cancel
              </a>
            </div>
            <div
              class="modal fade"
              tabindex="-1"
              id="cancel<%= book._id %>"
              role="dialog"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="padding-bottom: -80px">
                  <div class="modal-header">
                    <h5 class="modal-title" style="font-family: roboto">
                      Reservation Cancellation
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to cancel the Reservation?</p>
                    <p class="text-danger">
                      <small>This action Cannot be Undone.</small>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <form action="/cancelBooking" method="POST">
                      <button
                        name="submit"
                        value="Cancel <%=book._id%>"
                        type="submit"
                        class="btn btn-primary"
                        style="margin-top: -40px"
                      >
                        Cancel
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </th>
          <% } %> <% }) %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include("../partials/footer") -%>
