<%- include("../partials/logshead") -%>
<div
  class="register-photo"
  style="background-color: #ffffff; margin-top: px; margin-bottom: px"
>
  <div class="form-container">
    <div
      class="image-holder"
      style="
        background-image: url('asset/img/log1.png');
        background-size: cover;
        background-position: center;
      "
    ></div>
    <form
      action="/resetPassword"
      method="post"
      style="border: 1px solid; border-radius: 15px"
      ;
    >
      <h2 class="text-center" style="font-family: Roboto, sans-serif">
        <strong>Reset Password </strong>
      </h2>
      <% if (typeof errorMessage !== "undefined") { %>
      <p role="alert"><%= errorMessage %></p>
      <% } %><% if (typeof error !== "undefined") { %>
      <span style="color: red; font: size 14px" id="Err"> <%= error %></span>
      <% } %> <% if (typeof successMessage !== "undefined") { %>
      <p role="alert"><%= successMessage %></p>
      <% } %>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" />
        <span style="color: red; font: size 14px" id="Err"> </span>
        <p style="color: red">
          <%= (typeof errors!="undefined" && typeof
          errors.password!="undefined") ? errors.password.msg: ""%>
        </p>
      </div>

      <div class="form-group">
        <label>ConfirmPassword</label>
        <input type="password" class="form-control" name="confirmPassword" />
        <span style="color: red; font: size 14px" id="Err"> </span>
        <p style="color: red">
          <%= (typeof errors!="undefined" && typeof
          errors.confirmPassword!="undefined") ? errors.confirmPassword.msg:
          ""%>
        </p>
      </div>

      <div class="form-group">
        <button
          class="btn btn-block"
          type="submit"
          style="
            background-color: #4caf50;
            font-family: Roboto, sans-serif;
            color: #fff;
          "
        >
          Register
        </button>
      </div>
      <span class="already"
        >Already have an account?
        <a href="/userLogin" style="color: #4caf50">Log In</a> </span
      >
    </form>
  </div>
</div>

<%- include("../partials/footer") -%>
