<%- include("../partials/userheader") -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.button {
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #FFC107;
}

.button1:hover {
  background-color: #FFC107;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #E91919;
}

.button2:hover {
  background-color: #E91919;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #2196F3;
}

.button3:hover {
  background-color: #2196F3;
  color: white;
}

</style>

  <!-- ======= Hero Section ======= -->
 


  <main id="main">
    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Schedule Records </h2>
          <br><br>


        <div class="row" style="padding-left:80px;">
          

          <div class="col-md-1">
          <div class="bg-danger text-center p-1"></div> 
          <p>Booked</p></div>

          <div class="col-md-1">
            <div class="bg-warning text-center p-1"></div> 
            <p>Pending</p>
            
          </div>

          <p>Note: No reservations should be made for any of these times.</p>
      
        </div>

        <br><br>
<!--       
        <% foundRecord.forEach(book => { %>
          <% if ( book.isConfirm == "Confirmed" ){ %>
            <button type="submit" class="button button2">Date: <%= book.date %> <br> Time: <%= book.time %></button>
            <% }else if(book.isConfirm == "Pending"){ %>
          <button type="submit" class="button button1">Date: <%= book.date %> <br> Time: <%= book.time %></button>
          <% } %>
          <% }) %> -->
          <form action="/search" method="post">
            <div class="form-group">
              <label></label>
              <div style="float: left;">
              <input type="date" class="form-control" name="getdate" style="max-width:min-content"/></div>
              <div style="float:left;margin-left: 4px" >
              <button type="submit" class="btn success"> <i class="fa fa-search" style="font-size: 24px;color:rgb(92, 87, 81); "></i></button></div>
            </div> </form>

          <div class="form-container">
        
            <h4 style="font-family: roboto">Booking List</h4>
            
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">Date Booked</th>
                  <th scope="col">Time</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% foundRecord.forEach(book => { %>
                <tr>
                  <% if (book.isConfirm === "Pending"){ %>
                  <td><%= book.date %></td>
                  <td><%= book.time %>(<%= book.day %>)</td> 
                  <td>
                    <span style="background-color: #fee6af;
                    padding: 4px 40px 4px 40px;
                    border-radius: 6px;
                    text-align: center;"> Pending</span>
                  </td>
                  <% }else if(book.isConfirm === "Confirmed"){ %>
                    <td><%= book.date %></td>
                    <td><%= book.time %>(<%= book.day %>)</td>
                    <td  >
                    <span style="background-color: #ECA0A8;
                    padding: 4px 28px 4px 28px;
                    border-radius: 6px;
                    text-align: center;"> Confirmed</span>
                  </td>
                  <% } %>
                  <% }) %>
                </tr>
              </tbody>
            </table>
          </div>
     
          <br><br>
         
</div>
<a href="/bookingForm">
<button
          class="btn btn-block"
          type="button"
          style="
            background-color: #4caf50;
            font-family: Roboto, sans-serif;
            padding:10px;
            color: #fff;

          "
        >
          Make Reservation
        </button>
      </a>
</div>
</section>
</div>
</main>
    <br><br>     
  <!-- ======= Footer ======= -->
  <%- include("../partials/footer") -%>