<%- include("../partials/logshead") -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Gyalpozhing Turf Reservation</title>
    <link href="/admin/img/logo.png" rel="icon" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Delicious - v4.9.1
  * Template URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <header
      id="header"
      class="fixed-top d-flex align-items-center header-transparent"
    >
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <div class="logo me-auto">
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/"
            ><img src="/assets/img/1.png" alt="" class="img-fluid"
          /></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li>
              <a class="nav-link scrollto" href="/bookingForm">Schedule</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/contact">Contact</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/userRegister">Register</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/userlogin">Login</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
  </body>
</html>

<div class="register-photo" style="background-color: #ffffff; margin-top: px">
  <div class="form-container" id="loginform">
    <div
      class="image-holder"
      style="
        background-image: url('asset/img/log1.png');
        background-position: center;
      "
    ></div>
    <form
      action="/login"
      method="post"
      style="border: 1px solid; border-radius: 15px"
      ;
    >
      <% if (typeof errorMessage !== "undefined") { %>
      <p role="alert"><%= errorMessage %></p>
      <% } %> <% if (typeof successMessage !== "undefined") { %>
      <p role="alert"><%= successMessage %></p>
      <% } %>
      <h2 class="text-center" style="font-family: Roboto, sans-serif">
        <strong>Welcome back</strong>
      </h2>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          name="username"
          pattern="[a-z0-9]+@gmail.com"
          title="Email domain should be (@gmail.com)"
          required
        />
        <p style="color: red">
          <%= (typeof errors!="undefined" && typeof
          errors.username!="undefined") ? errors.username.msg: ""%>
        </p>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          autocomplete="off"
          required
        />
        <br />
        <span style="color: red; font: size 14px" id="Err"> </span>
        <p style="color: red">
          <%= (typeof errors!="undefined" && typeof
          errors.password!="undefined") ? errors.password.msg: ""%>
        </p>
      </div>
      <a
        style="
          float: right;
          margin-bottom: 10px;
          margin-top: -20px;
          color: #4caf50;
          text-decoration: none;
        "
        href="/forgotpassword"
        >Forgot Password?</a
      >
      <div class="form-group">
        <button
          class="btn btn-block"
          type="submit"
          style="
            background-color: #4caf50;
            font-family: Roboto, sans-serif;
            color: #fff;
          "
        >
          Log In
        </button>
      </div>
      <hr />
      <a
        class="already"
        href="/userRegister"
        style="font-family: Roboto, sans-serif"
        >Don&#39;t have an account?
        <span style="color: #4caf50">Sign Up.</span></a
      >
    </form>
  </div>
</div>

<%- include("../partials/footer") -%>
