<%- include("../partials/logshead") -%> <%- include("../partials/userheader")
-%>


<div class="register-photo" style="background-color: #FFFFFF;margin-top: px;margin-bottom: px;">
    <br>
    <div class="form-container">
        <form action="userUpdate/<%= currentUser._id %>" method="post"  style="border:1px solid; border-radius: 15px"; >

<h2 class="text-center" style="font-family: Roboto, sans-serif;"><strong>Update Your Profile</strong></h2>
<div class="form-group">



                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="name" type="text" class="form-control" id="fullName" value="<%= currentUser.name %>">
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="username" type="email" pattern="[a-z0-9]+@gmail.com"        
                      title="Email domain should be (@gmail.com)" class="form-control" id="Email" value="<%= currentUser.username %>">
                    </div>
                  </div>


                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="phone" type="text" class="form-control" id="Phone"           
                    pattern="[1|7]{1}[7]{1}[0-9]{6}"
                    title="8 digit phone no. should start with (77/17)" 
                    value="<%= currentUser.phone %>">
                  </div>
                </div>

                
                <br>
            </div>

     <div class="text-center">
         <button type="submit" style="text-decoration-color: white; background: #388E3C; border: 0; padding: 10px 24px; color: #fff; transition: 0.4s;   border-radius: 50px">Save Changes</button></div>
            </div>
</form></div>
</div>

<%- include("../partials/footer") -%>