<%- include("../partials/adminheader")-%>
<div class="main-content">
    <div class="row">
       <div class="col-md-12">
          <div class="table-wrapper">

          <div class="table-title">
            <div class="row">
                <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                   <h2 class="ml-lg-2">View BookingList</h2>
                </div>
                <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                </div>
            </div>
          </div>

          <table class="table table-striped table-hover">
             <thead>
                <tr>

               </label></th>
                <th style="font-weight: bold;">Username</th>
                <th style="font-weight: bold;">Email</th>
                <th style="font-weight: bold;">Contact</th>
                <th style="font-weight: bold;">Date</th>
                <th style="font-weight: bold;">Time</th>
                <th style="font-weight: bold;">Status</th>
                <th style="font-weight: bold;">Details</th>
                <th style="font-weight: bold;">Action</th>

                </tr>
             </thead>

             <tbody>
                <% BookingList.forEach(function(book){ %>
                    
                 <tr>
                   <th><%= book.name %></th>
                   <th><%= book.username %></th>
                   <th><%= book.phone %></th>
                   <th><%= book.date %></th>
                   <th><%= book.time %>(<%= book.day %>)</th>
                   
                   <% if (book.isConfirm === "Pending"){ %>
                    <th><div style="background-color: #FEE6AF; padding: 10px; border-radius: 10px; text-align:center">
                        Pending</div>
                    </th>
                <% }else if(book.isConfirm === "Confirmed"){ %>
                    <th ><div style="background-color: #A8CDDA; padding: 10px; border-radius: 10px; text-align:center">Confirmed</div></th>
                    <% }else { %>
                        <th><div style="background-color: #ECA0A8; padding: 10px; border-radius: 10px; text-align:center">Cancelled</div></th>
                        <% }  %>
                        
                   <th>                 
                    <a href="#tt<%= book._id %>"   data-toggle="modal">
                        <i class="material-icons" data-toggle="tooltip" style="font-size:26px;color:#34642e" >visibility</i>
                        </a>
                        
                        <div class="modal fade" tabindex="-1" id="tt<%= book._id %>" role="dialog">  
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Booking Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Booking Date: <%= book.date %></p>
                                <hr>
                                <p>Booking Time: <%= book.time %>(<%= book.day %>)</p>
                                <hr>
                                <p>Journal Number: <%= book.jrnlNo %></p>
                               <% if(book.isConfirm === "Cancelled"){ %>
                                  <hr>
                                  <p>Booking At: <%= book.createdAt %></p>
                                  <p>Cancelled At: <%= book.updatedAt %></p>
                                <% } %>
                          
                              </div>
                              <div class="modal-footer">
                                
                                <form action="/actionConfirm" method="POST">
                                    <button
                                    name="submit"
                                    value="Confirm <%=book._id%>"
                                    type="submit"
                                    class="btn btn-primary"
                                    >
                                    Confirm
                                    </button>
                                    <button
                                    name="submit"
                                    value="Reject <%=book._id%>"
                                    type="submit"
                                    class="btn btn-danger"
                                    >
                                    Reject
                                    </button>
                                </form>
                                
                              </div>
                            </div>
                          </div>
                          </div>
                      
                   </th>               
  
                   <th>         
                  <a href="#delete<%= book._id %>" class="delete" data-toggle="modal">
                  <i class="material-icons" data-toggle="tooltip" title="Delete" style="font-size:26px;">&#xE872;</i>
                  </a>
                  <div class="modal fade" tabindex="-1" id="delete<%= book._id %>" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete Booking</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete this Booking?</p>
                      <p class="text-danger"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a href="/deletebooking/<%= book._id %>">
                          <button type="button" class="btn btn-success">Delete</button></a>
                        </div>
                      </div>
                    </div>
                    </div>
                </th>
                </tr>
                <% }) %>



             </tbody>


          </table>

          </div>
       </div>

          <!----edit-modal end--------->





      <!----edit-modal start--------->
<div class="modal fade" tabindex="-1" id="editEmployeeModal" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">Edit Reservation</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="form-group">
<label>Username</label>
<input type="text" class="form-control" required>
</div>
<div class="form-group">
<label>Email</label>
<input type="text" class="form-control" required>
</div>
<div class="form-group">
<label>Contact</label>
<input type="emil" class="form-control" required>
</div>
<div class="form-group">
<label>Date</label>
<input type="emil" class="form-control" required>
</div>
<div class="form-group">
<label>Time</label>
<input type="text" class="form-control" required>
</div>
<div class="form-group">
<label>Payment</label>
<input type="text" class="form-control" required>
</div>
<!-- <div class="form-group">
<label>Status</label>
<input type="text" class="form-control">
</div> -->

<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
<button type="button" class="btn btn-success">Save</button>
</div>
</div>
</div>
</div>

          <!----edit-modal end--------->


        <!----delete-modal start--------->
<div class="modal fade" tabindex="-1" id="deleteEmployeeModal" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">Delete Employees</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<p>Are you sure you want to delete this Records</p>
<p class="text-warning"><small>this action Cannot be Undone,</small></p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
<button type="button" class="btn btn-success">Delete</button>
</div>
</div>
</div>
</div>

          <!----edit-modal end--------->




    </div>
 </div>





</div>

</div>