<%- include("../partials/adminheader")-%>
<form action="/adminUpdate" method="post">
  <div class="modal fade" tabindex="-1" id="editEmployeeModal/" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit User</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" value="" required />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" required />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="emil" class="form-control" required />
            </div>
            <div class="form-group">
              <label>Contact</label>
              <input type="text" class="form-control" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
