</div>
</section><!-- End Gallery Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
<div class="footer-top">
<div class="container">
  <div class="row">

    <div class="col-lg-3 col-md-6">
      <div class="footer-info">
        <h3>Medicio</h3>
        <p>
          A108 Adam Street <br>
          NY 535022, USA<br><br>
          <strong>Phone:</strong> +1 5589 55488 55<br>
          <strong>Email:</strong> Group4@gmail.com<br>
        </p>
        <div class="social-links mt-3">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-6 footer-links">
      <h4>Useful Links</h4>
      <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="staffLogin">Health Report</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 footer-links">
      <h4>Our Services</h4>
      <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-6 footer-newsletter">
      <h4>Our Newsletter</h4>
      <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
      <form action="" method="post">
        <input type="email" name="email"><input type="submit" value="Subscribe">
      </form>

    </div>

  </div>
</div>
</div>

<div class="container">
<div class="copyright">
  &copy; Copyright <strong><span>MyHbooK</span></strong>. All Rights Reserved
</div>
<div class="credits">
  <!-- All the links in the footer should remain intact. -->
  <!-- You can delete the links only if you purchased the pro version. -->
  <!-- Licensing information: https://bootstrapmade.com/license/ -->
  <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
  Designed by <a href="https://bootstrapmade.com/">Group4🐒🙊🙈🙈🙉lol</a>
</div>
</div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="vendor/purecounter/purecounter_vanilla.js"></script>
<script src="vendor/aos/aos.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/glightbox/js/glightbox.min.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script src="vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="js/main.js"></script>

</body>

</html>
