<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link href="css/staffRegister.css" rel="stylesheet">

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Admin Registration</h3>

            <form class="px-md-2" method="post" action="/adminupdate/<%= admin._id %>">

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" name="name" required autofocus value="<%= admin.name %>">
                <label class="form-label" for="form3Example1q">Name</label>
              </div>
              <div class="form-outline mb-4">
                <input type="email" id="form3Example1q" class="form-control" name="adminusername" required value="<%= admin.adminusername %>">
                <label class="form-label" for="form3Example1q">Username</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="form3Example1q" class="form-control" name="adminpassword" required value="<%= admin.adminpassword %>">
                <label class="form-label" for="form3Example1q">Password</label>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline datepicker">
                    <input type="text" class="form-control" id="exampleDatepicker1" name="admincontact" value="<%= admin.admincontact %>"/>
                    <label for="exampleDatepicker1" class="form-label">Contact Number</label>
                  </div>

                </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">Update</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
