<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Report Update</title>

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">


</head>
  <!-- Main CSS-->
<link href="\css\disease.css" rel="stylesheet" media="all">

<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Update Patient </h2>
                </div>
                <div class="card-body">
                    <form  method="POST" action="/reportedit/<%= report._id %>">
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <input class="input--style-6" type="email" name="rusername" value="<%= report.rusername %>">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Chamber Number</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="chamber" value="<%= report.chamber %>">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Disease Name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" name="rdisease" placeholder="eneter patient disease name" value="<%= report.disease %>">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Description</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6" name="rdescription" placeholder="Message sent to the employer"></textarea>
                                </div>
                            </div>
                        </div>

                <div class="card-footer">
                    <button class="btn btn--radius-2 btn--blue-2 btn-success" type="submit">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>


    <!-- Main JS-->
    <script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
